@model MilenaRiosFelten.Models.Cep
@{
    ViewBag.Title = "Busca de CEP";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post,
    new { @class = "form-horizontal", role = "form" }))
{


    <div class="form-group">


        <div class="input-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </span>
        </div>
        @{ 
            if (ViewBag.Endereco != null)
            {
                @ViewBag.Endereco.Rua
                @ViewBag.Endereco.Bairro
                @ViewBag.Endereco.Cidade
                @ViewBag.Endereco.UF
            }
        }

    </div>

    <div>
        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
    </div>
}